@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{

  /*main colors*/
  --clr-orange : #ff5f0b;
  --clr-light-gray : #F5F6F7;
  --clr-gray-1:#606770;
  --clr-blue : #00AFFF;
  /*pastel colors */
  --clr-periwinkle-1:#E2F1E7;
  --clr-dogwood:#F3D2C8;
  --clr-periwinkle-2: #BFBFE4;
  --clr-light-teal: #C5E2E4;
  /*dark colors*/
  --clr-black-1 : #252525;
  --clr-border : #EBEDF0;


}